<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="neu.train.project.mvo.mapper.mvoProductDescriptionMapper" >
  <resultMap id="BaseResultMap" type="neu.train.project.mvo.domain.mvoProductDescription" >
    <id column="pdn_id" property="pdnId" jdbcType="INTEGER" />
    <result column="pro_id" property="proId" jdbcType="INTEGER" />
    <result column="type_cd" property="typeCd" jdbcType="VARCHAR" />
    <result column="platform_type" property="platformType" jdbcType="VARCHAR" />
    <result column="created_by" property="createdBy" jdbcType="VARCHAR" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="last_update_by" property="lastUpdateBy" jdbcType="VARCHAR" />
    <result column="last_update_time" property="lastUpdateTime" jdbcType="TIMESTAMP" />
    <result column="call_cnt" property="callCnt" jdbcType="INTEGER" />
    <result column="sts_cd" property="stsCd" jdbcType="CHAR" />
    <result column="deleted" property="deleted" jdbcType="BIT" />
  </resultMap>
  <resultMap id="ResultMapWithBLOBs" type="neu.train.project.mvo.domain.mvoProductDescription" extends="BaseResultMap" >
    <result column="descrition" property="descrition" jdbcType="LONGVARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    pdn_id, pro_id, type_cd, platform_type, created_by, create_time, last_update_by, 
    last_update_time, call_cnt, sts_cd, deleted
  </sql>
  <sql id="Blob_Column_List" >
    descrition
  </sql>
  <select id="selectByExampleWithBLOBs" resultMap="ResultMapWithBLOBs" parameterType="neu.train.project.mvo.domain.mvoProductDescriptionExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from pdn_product_description
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="neu.train.project.mvo.domain.mvoProductDescriptionExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from pdn_product_description
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="ResultMapWithBLOBs" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from pdn_product_description
    where pdn_id = #{pdnId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from pdn_product_description
    where pdn_id = #{pdnId,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="neu.train.project.mvo.domain.mvoProductDescriptionExample" >
    delete from pdn_product_description
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="neu.train.project.mvo.domain.mvoProductDescription" >
    insert into pdn_product_description (pdn_id, pro_id, type_cd, 
      platform_type, created_by, create_time, 
      last_update_by, last_update_time, call_cnt, 
      sts_cd, deleted, descrition
      )
    values (#{pdnId,jdbcType=INTEGER}, #{proId,jdbcType=INTEGER}, #{typeCd,jdbcType=VARCHAR}, 
      #{platformType,jdbcType=VARCHAR}, #{createdBy,jdbcType=VARCHAR}, #{createTime,jdbcType=TIMESTAMP}, 
      #{lastUpdateBy,jdbcType=VARCHAR}, #{lastUpdateTime,jdbcType=TIMESTAMP}, #{callCnt,jdbcType=INTEGER}, 
      #{stsCd,jdbcType=CHAR}, #{deleted,jdbcType=BIT}, #{descrition,jdbcType=LONGVARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="neu.train.project.mvo.domain.mvoProductDescription" >
    insert into pdn_product_description
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="pdnId != null" >
        pdn_id,
      </if>
      <if test="proId != null" >
        pro_id,
      </if>
      <if test="typeCd != null" >
        type_cd,
      </if>
      <if test="platformType != null" >
        platform_type,
      </if>
      <if test="createdBy != null" >
        created_by,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="lastUpdateBy != null" >
        last_update_by,
      </if>
      <if test="lastUpdateTime != null" >
        last_update_time,
      </if>
      <if test="callCnt != null" >
        call_cnt,
      </if>
      <if test="stsCd != null" >
        sts_cd,
      </if>
      <if test="deleted != null" >
        deleted,
      </if>
      <if test="descrition != null" >
        descrition,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="pdnId != null" >
        #{pdnId,jdbcType=INTEGER},
      </if>
      <if test="proId != null" >
        #{proId,jdbcType=INTEGER},
      </if>
      <if test="typeCd != null" >
        #{typeCd,jdbcType=VARCHAR},
      </if>
      <if test="platformType != null" >
        #{platformType,jdbcType=VARCHAR},
      </if>
      <if test="createdBy != null" >
        #{createdBy,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="lastUpdateBy != null" >
        #{lastUpdateBy,jdbcType=VARCHAR},
      </if>
      <if test="lastUpdateTime != null" >
        #{lastUpdateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="callCnt != null" >
        #{callCnt,jdbcType=INTEGER},
      </if>
      <if test="stsCd != null" >
        #{stsCd,jdbcType=CHAR},
      </if>
      <if test="deleted != null" >
        #{deleted,jdbcType=BIT},
      </if>
      <if test="descrition != null" >
        #{descrition,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="neu.train.project.mvo.domain.mvoProductDescriptionExample" resultType="java.lang.Integer" >
    select count(*) from pdn_product_description
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update pdn_product_description
    <set >
      <if test="record.pdnId != null" >
        pdn_id = #{record.pdnId,jdbcType=INTEGER},
      </if>
      <if test="record.proId != null" >
        pro_id = #{record.proId,jdbcType=INTEGER},
      </if>
      <if test="record.typeCd != null" >
        type_cd = #{record.typeCd,jdbcType=VARCHAR},
      </if>
      <if test="record.platformType != null" >
        platform_type = #{record.platformType,jdbcType=VARCHAR},
      </if>
      <if test="record.createdBy != null" >
        created_by = #{record.createdBy,jdbcType=VARCHAR},
      </if>
      <if test="record.createTime != null" >
        create_time = #{record.createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.lastUpdateBy != null" >
        last_update_by = #{record.lastUpdateBy,jdbcType=VARCHAR},
      </if>
      <if test="record.lastUpdateTime != null" >
        last_update_time = #{record.lastUpdateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.callCnt != null" >
        call_cnt = #{record.callCnt,jdbcType=INTEGER},
      </if>
      <if test="record.stsCd != null" >
        sts_cd = #{record.stsCd,jdbcType=CHAR},
      </if>
      <if test="record.deleted != null" >
        deleted = #{record.deleted,jdbcType=BIT},
      </if>
      <if test="record.descrition != null" >
        descrition = #{record.descrition,jdbcType=LONGVARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExampleWithBLOBs" parameterType="map" >
    update pdn_product_description
    set pdn_id = #{record.pdnId,jdbcType=INTEGER},
      pro_id = #{record.proId,jdbcType=INTEGER},
      type_cd = #{record.typeCd,jdbcType=VARCHAR},
      platform_type = #{record.platformType,jdbcType=VARCHAR},
      created_by = #{record.createdBy,jdbcType=VARCHAR},
      create_time = #{record.createTime,jdbcType=TIMESTAMP},
      last_update_by = #{record.lastUpdateBy,jdbcType=VARCHAR},
      last_update_time = #{record.lastUpdateTime,jdbcType=TIMESTAMP},
      call_cnt = #{record.callCnt,jdbcType=INTEGER},
      sts_cd = #{record.stsCd,jdbcType=CHAR},
      deleted = #{record.deleted,jdbcType=BIT},
      descrition = #{record.descrition,jdbcType=LONGVARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update pdn_product_description
    set pdn_id = #{record.pdnId,jdbcType=INTEGER},
      pro_id = #{record.proId,jdbcType=INTEGER},
      type_cd = #{record.typeCd,jdbcType=VARCHAR},
      platform_type = #{record.platformType,jdbcType=VARCHAR},
      created_by = #{record.createdBy,jdbcType=VARCHAR},
      create_time = #{record.createTime,jdbcType=TIMESTAMP},
      last_update_by = #{record.lastUpdateBy,jdbcType=VARCHAR},
      last_update_time = #{record.lastUpdateTime,jdbcType=TIMESTAMP},
      call_cnt = #{record.callCnt,jdbcType=INTEGER},
      sts_cd = #{record.stsCd,jdbcType=CHAR},
      deleted = #{record.deleted,jdbcType=BIT}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="neu.train.project.mvo.domain.mvoProductDescription" >
    update pdn_product_description
    <set >
      <if test="proId != null" >
        pro_id = #{proId,jdbcType=INTEGER},
      </if>
      <if test="typeCd != null" >
        type_cd = #{typeCd,jdbcType=VARCHAR},
      </if>
      <if test="platformType != null" >
        platform_type = #{platformType,jdbcType=VARCHAR},
      </if>
      <if test="createdBy != null" >
        created_by = #{createdBy,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="lastUpdateBy != null" >
        last_update_by = #{lastUpdateBy,jdbcType=VARCHAR},
      </if>
      <if test="lastUpdateTime != null" >
        last_update_time = #{lastUpdateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="callCnt != null" >
        call_cnt = #{callCnt,jdbcType=INTEGER},
      </if>
      <if test="stsCd != null" >
        sts_cd = #{stsCd,jdbcType=CHAR},
      </if>
      <if test="deleted != null" >
        deleted = #{deleted,jdbcType=BIT},
      </if>
      <if test="descrition != null" >
        descrition = #{descrition,jdbcType=LONGVARCHAR},
      </if>
    </set>
    where pdn_id = #{pdnId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKeyWithBLOBs" parameterType="neu.train.project.mvo.domain.mvoProductDescription" >
    update pdn_product_description
    set pro_id = #{proId,jdbcType=INTEGER},
      type_cd = #{typeCd,jdbcType=VARCHAR},
      platform_type = #{platformType,jdbcType=VARCHAR},
      created_by = #{createdBy,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      last_update_by = #{lastUpdateBy,jdbcType=VARCHAR},
      last_update_time = #{lastUpdateTime,jdbcType=TIMESTAMP},
      call_cnt = #{callCnt,jdbcType=INTEGER},
      sts_cd = #{stsCd,jdbcType=CHAR},
      deleted = #{deleted,jdbcType=BIT},
      descrition = #{descrition,jdbcType=LONGVARCHAR}
    where pdn_id = #{pdnId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="neu.train.project.mvo.domain.mvoProductDescription" >
    update pdn_product_description
    set pro_id = #{proId,jdbcType=INTEGER},
      type_cd = #{typeCd,jdbcType=VARCHAR},
      platform_type = #{platformType,jdbcType=VARCHAR},
      created_by = #{createdBy,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      last_update_by = #{lastUpdateBy,jdbcType=VARCHAR},
      last_update_time = #{lastUpdateTime,jdbcType=TIMESTAMP},
      call_cnt = #{callCnt,jdbcType=INTEGER},
      sts_cd = #{stsCd,jdbcType=CHAR},
      deleted = #{deleted,jdbcType=BIT}
    where pdn_id = #{pdnId,jdbcType=INTEGER}
  </update>
</mapper>