<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="neu.train.project.mvo.mapper.mvoProductMapper" >
  <resultMap id="BaseResultMap" type="neu.train.project.mvo.domain.mvoProduct" >
    <id column="pro_id" property="proId" jdbcType="INTEGER" />
    <result column="man_id" property="manId" jdbcType="INTEGER" />
    <result column="brd_id" property="brdId" jdbcType="INTEGER" />
    <result column="title" property="title" jdbcType="VARCHAR" />
    <result column="sku_cd" property="skuCd" jdbcType="VARCHAR" />
    <result column="upc" property="upc" jdbcType="VARCHAR" />
    <result column="ean" property="ean" jdbcType="VARCHAR" />
    <result column="retail_price" property="retailPrice" jdbcType="DECIMAL" />
    <result column="mininum_retail_price" property="mininumRetailPrice" jdbcType="DECIMAL" />
    <result column="warranty_day" property="warrantyDay" jdbcType="VARCHAR" />
    <result column="time_unit" property="timeUnit" jdbcType="VARCHAR" />
    <result column="model" property="model" jdbcType="VARCHAR" />
    <result column="created_by" property="createdBy" jdbcType="VARCHAR" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="last_update_by" property="lastUpdateBy" jdbcType="VARCHAR" />
    <result column="last_update_time" property="lastUpdateTime" jdbcType="TIMESTAMP" />
    <result column="call_cnt" property="callCnt" jdbcType="INTEGER" />
    <result column="sts_cd" property="stsCd" jdbcType="CHAR" />
    <result column="deleted" property="deleted" jdbcType="BIT" />
    <result column="proState" property="prostate" jdbcType="VARCHAR" />
  </resultMap>


  <resultMap id="CompleteResultMap" type="neu.train.project.mvo.domain.mvoProduct" >
    <id column="pro_id" property="proId" jdbcType="INTEGER" />
    <result column="man_id" property="manId" jdbcType="INTEGER" />
    <result column="brd_id" property="brdId" jdbcType="INTEGER" />
    <result column="title" property="title" jdbcType="VARCHAR" />
    <result column="sku_cd" property="skuCd" jdbcType="VARCHAR" />
    <result column="upc" property="upc" jdbcType="VARCHAR" />
    <result column="ean" property="ean" jdbcType="VARCHAR" />
    <result column="retail_price" property="retailPrice" jdbcType="DECIMAL" />
    <result column="mininum_retail_price" property="mininumRetailPrice" jdbcType="DECIMAL" />
    <result column="warranty_day" property="warrantyDay" jdbcType="VARCHAR" />
    <result column="time_unit" property="timeUnit" jdbcType="VARCHAR" />
    <result column="model" property="model" jdbcType="VARCHAR" />
    <result column="created_by" property="createdBy" jdbcType="VARCHAR" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="last_update_by" property="lastUpdateBy" jdbcType="VARCHAR" />
    <result column="last_update_time" property="lastUpdateTime" jdbcType="TIMESTAMP" />
    <result column="call_cnt" property="callCnt" jdbcType="INTEGER" />
    <result column="sts_cd" property="stsCd" jdbcType="CHAR" />
    <result column="deleted" property="deleted" jdbcType="BIT" />
    <result column="proState" property="prostate" jdbcType="VARCHAR" />

    <association property="productBrand" javaType="neu.train.project.mvo.domain.mvoBrand">
      <id property="brdId" column="brd_id"/>
      <result property="nameEn" column="name_En"/>
    </association>

    <collection property="categories" ofType="neu.train.project.mvo.domain.mvoProductCategory">
                  <id property="prcId" column="prc_id"/>
                  <result property="proId" column="pro_id"/>
                  <result property="categoryName" column="category_name"/>
                  <result property="categoryPath" column="category_path"/>
    </collection>

    <collection property="images" ofType="neu.train.project.mvo.domain.mvoImage">

      <id property="imgId" column="img_id"/>
      <result property="proId" column="pro_id"/>
      <result property="typeCd" column="type_cd"/>
      <result property="uri" column="uri"/>
    </collection>


    <collection property="productPackageInfos" ofType="neu.train.project.mvo.domain.mvoPackageInfo">
      <id property="pckId" column="pck_id"/>
      <result property="proId" column="pro_id"/>
      <result property="width" column="width"/>
      <result property="height" column="height"/>
      <result property="length" column="length"/>
      <result property="weight" column="weight"/>
    </collection>

  </resultMap>

  <resultMap id="CompleteResultMapWithBLOBs" type="neu.train.project.mvo.domain.mvoProduct" extends="CompleteResultMap" >
    <result column="warranty" property="warranty" jdbcType="LONGVARCHAR" />
  </resultMap>


  <resultMap id="ResultMapWithBLOBs" type="neu.train.project.mvo.domain.mvoProduct" extends="BaseResultMap" >
    <result column="warranty" property="warranty" jdbcType="LONGVARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    pro_id, man_id, brd_id, title, sku_cd, upc, ean, retail_price, mininum_retail_price, 
    warranty_day, time_unit, model, created_by, create_time, last_update_by, last_update_time, 
    call_cnt, sts_cd, deleted, proState
  </sql>
  <sql id="Blob_Column_List" >
    warranty
  </sql>
  <select id="selectByExampleWithBLOBs" resultMap="ResultMapWithBLOBs" parameterType="neu.train.project.mvo.domain.mvoProductExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from pro_product
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="neu.train.project.mvo.domain.mvoProductExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from pro_product
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>


  <select id="selectByPrimaryKey" resultMap="ResultMapWithBLOBs" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from pro_product
    where pro_id = #{proId,jdbcType=INTEGER}
  </select>

  <select id="selectBySearchProduct" resultMap="CompleteResultMapWithBLOBs" parameterType="neu.train.project.mvo.domain.vo.MvoSearchProduct" >


    select

    distinct

    p.pro_id ,p.man_id, p.brd_id, p.title, p.sku_cd, p.upc, p.ean, p.retail_price, p.mininum_retail_price,

    p.warranty_day, p.time_unit, p.model, p.create_time,p.last_update_time,

    p.proState,p.warranty,

    b.name_en,

    category.prc_id,category.category_name , category.category_path,

    img.img_id,img.uri , img.type_cd,

    pck.pck_id , pck.width, pck.height, pck.length , pck.weight

    from pro_product p ,brd_brand b , prc_product_category category ,img_image img ,pck_package_info pck

    where p.brd_id=b.brd_id  and p.pro_id = category.pro_id and p.pro_id = img.pro_id and p.pro_id=pck.pro_id

    AND img.type_cd = 0

    And p.man_id=#{manId}

    <if test="proId != null and proId != ''">
      AND pro_id = #{proId}
    </if>


    <if test="title != null and title != ''">
      AND title like concat('%', #{title}, '%')
    </if>

    <if test="categoryName != null and categoryName != ''">
      AND ( category_path like concat('%', #{categoryName}, '%') or category_name like concat('%', #{categoryName}, '%')  )
    </if>

    <if test="brandName != null and brandName != ''">
      AND (name_en like concat('%', #{brandName}, '%') or name_cn like concat('%', #{brandName}, '%'))
    </if>

    <if test="lowPrice != null and lowPrice != ''and topPrice != 0">
      AND retail_price  <![CDATA[ >= ]]> #{lowPrice,jdbcType=DOUBLE}
    </if>

    <if test="topPrice != null and topPrice != '' and topPrice != 0 ">
      AND retail_price  <![CDATA[ <= ]]> #{topPrice,jdbcType=DOUBLE}
    </if>

    <if test="beginTime != null and beginTime != ''"><!-- Start  time检索 -->
      and date_format(create_time,'%y%m%d') &gt;= date_format(#{beginTime},'%y%m%d')
    </if>

    <if test="endTime != null and endTime != ''"><!-- End   time检索 -->
      and date_format(create_time,'%y%m%d') &lt;= date_format(#{endTime},'%y%m%d')
    </if>

  </select>

  <select id="selectByProId" resultMap="CompleteResultMapWithBLOBs" parameterType="java.lang.Integer" >


    select

    p.pro_id , p.brd_id, p.title, p.sku_cd, p.upc, p.ean, p.retail_price, p.mininum_retail_price,

    p.warranty_day, p.time_unit, p.model, p.create_time,p.last_update_time,

    p.proState,p.warranty,

    b.name_en,

    category.prc_id,category.category_name , category.category_path,

    img.img_id,img.uri , img.type_cd,

    pck.pck_id , pck.width, pck.height, pck.length , pck.weight

    from pro_product p ,brd_brand b , prc_product_category category ,img_image img ,pck_package_info pck

    where p.brd_id=b.brd_id  and p.pro_id = category.pro_id and p.pro_id = img.pro_id and p.pro_id=pck.pro_id

    <if test="_parameter != null and _parameter != ''">
      AND p.pro_id = #{_parameter}
    </if>

  </select>


  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from pro_product
    where pro_id = #{proId,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="neu.train.project.mvo.domain.mvoProductExample" >
    delete from pro_product
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="neu.train.project.mvo.domain.mvoProduct" useGeneratedKeys="true" keyColumn="pro_id" keyProperty="proId">
    insert into pro_product (pro_id, man_id, brd_id, 
      title, sku_cd, upc, 
      ean, retail_price, mininum_retail_price, 
      warranty_day, time_unit, model, 
      created_by, create_time, last_update_by, 
      last_update_time, call_cnt, sts_cd, 
      deleted, proState, warranty
      )
    values (#{proId,jdbcType=INTEGER}, #{manId,jdbcType=INTEGER}, #{brdId,jdbcType=INTEGER}, 
      #{title,jdbcType=VARCHAR}, #{skuCd,jdbcType=VARCHAR}, #{upc,jdbcType=VARCHAR}, 
      #{ean,jdbcType=VARCHAR}, #{retailPrice,jdbcType=DECIMAL}, #{mininumRetailPrice,jdbcType=DECIMAL}, 
      #{warrantyDay,jdbcType=VARCHAR}, #{timeUnit,jdbcType=VARCHAR}, #{model,jdbcType=VARCHAR}, 
      #{createdBy,jdbcType=VARCHAR}, #{createTime,jdbcType=TIMESTAMP}, #{lastUpdateBy,jdbcType=VARCHAR}, 
      #{lastUpdateTime,jdbcType=TIMESTAMP}, #{callCnt,jdbcType=INTEGER}, #{stsCd,jdbcType=CHAR}, 
      #{deleted,jdbcType=BIT}, #{prostate,jdbcType=VARCHAR}, #{warranty,jdbcType=LONGVARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="neu.train.project.mvo.domain.mvoProduct" >
    insert into pro_product
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="proId != null" >
        pro_id,
      </if>
      <if test="manId != null" >
        man_id,
      </if>
      <if test="brdId != null" >
        brd_id,
      </if>
      <if test="title != null" >
        title,
      </if>
      <if test="skuCd != null" >
        sku_cd,
      </if>
      <if test="upc != null" >
        upc,
      </if>
      <if test="ean != null" >
        ean,
      </if>
      <if test="retailPrice != null" >
        retail_price,
      </if>
      <if test="mininumRetailPrice != null" >
        mininum_retail_price,
      </if>
      <if test="warrantyDay != null" >
        warranty_day,
      </if>
      <if test="timeUnit != null" >
        time_unit,
      </if>
      <if test="model != null" >
        model,
      </if>
      <if test="createdBy != null" >
        created_by,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="lastUpdateBy != null" >
        last_update_by,
      </if>
      <if test="lastUpdateTime != null" >
        last_update_time,
      </if>
      <if test="callCnt != null" >
        call_cnt,
      </if>
      <if test="stsCd != null" >
        sts_cd,
      </if>
      <if test="deleted != null" >
        deleted,
      </if>
      <if test="prostate != null" >
        proState,
      </if>
      <if test="warranty != null" >
        warranty,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="proId != null" >
        #{proId,jdbcType=INTEGER},
      </if>
      <if test="manId != null" >
        #{manId,jdbcType=INTEGER},
      </if>
      <if test="brdId != null" >
        #{brdId,jdbcType=INTEGER},
      </if>
      <if test="title != null" >
        #{title,jdbcType=VARCHAR},
      </if>
      <if test="skuCd != null" >
        #{skuCd,jdbcType=VARCHAR},
      </if>
      <if test="upc != null" >
        #{upc,jdbcType=VARCHAR},
      </if>
      <if test="ean != null" >
        #{ean,jdbcType=VARCHAR},
      </if>
      <if test="retailPrice != null" >
        #{retailPrice,jdbcType=DECIMAL},
      </if>
      <if test="mininumRetailPrice != null" >
        #{mininumRetailPrice,jdbcType=DECIMAL},
      </if>
      <if test="warrantyDay != null" >
        #{warrantyDay,jdbcType=VARCHAR},
      </if>
      <if test="timeUnit != null" >
        #{timeUnit,jdbcType=VARCHAR},
      </if>
      <if test="model != null" >
        #{model,jdbcType=VARCHAR},
      </if>
      <if test="createdBy != null" >
        #{createdBy,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="lastUpdateBy != null" >
        #{lastUpdateBy,jdbcType=VARCHAR},
      </if>
      <if test="lastUpdateTime != null" >
        #{lastUpdateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="callCnt != null" >
        #{callCnt,jdbcType=INTEGER},
      </if>
      <if test="stsCd != null" >
        #{stsCd,jdbcType=CHAR},
      </if>
      <if test="deleted != null" >
        #{deleted,jdbcType=BIT},
      </if>
      <if test="prostate != null" >
        #{prostate,jdbcType=VARCHAR},
      </if>
      <if test="warranty != null" >
        #{warranty,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="neu.train.project.mvo.domain.mvoProductExample" resultType="java.lang.Integer" >
    select count(*) from pro_product
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update pro_product
    <set >
      <if test="record.proId != null" >
        pro_id = #{record.proId,jdbcType=INTEGER},
      </if>
      <if test="record.manId != null" >
        man_id = #{record.manId,jdbcType=INTEGER},
      </if>
      <if test="record.brdId != null" >
        brd_id = #{record.brdId,jdbcType=INTEGER},
      </if>
      <if test="record.title != null" >
        title = #{record.title,jdbcType=VARCHAR},
      </if>
      <if test="record.skuCd != null" >
        sku_cd = #{record.skuCd,jdbcType=VARCHAR},
      </if>
      <if test="record.upc != null" >
        upc = #{record.upc,jdbcType=VARCHAR},
      </if>
      <if test="record.ean != null" >
        ean = #{record.ean,jdbcType=VARCHAR},
      </if>
      <if test="record.retailPrice != null" >
        retail_price = #{record.retailPrice,jdbcType=DECIMAL},
      </if>
      <if test="record.mininumRetailPrice != null" >
        mininum_retail_price = #{record.mininumRetailPrice,jdbcType=DECIMAL},
      </if>
      <if test="record.warrantyDay != null" >
        warranty_day = #{record.warrantyDay,jdbcType=VARCHAR},
      </if>
      <if test="record.timeUnit != null" >
        time_unit = #{record.timeUnit,jdbcType=VARCHAR},
      </if>
      <if test="record.model != null" >
        model = #{record.model,jdbcType=VARCHAR},
      </if>
      <if test="record.createdBy != null" >
        created_by = #{record.createdBy,jdbcType=VARCHAR},
      </if>
      <if test="record.createTime != null" >
        create_time = #{record.createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.lastUpdateBy != null" >
        last_update_by = #{record.lastUpdateBy,jdbcType=VARCHAR},
      </if>
      <if test="record.lastUpdateTime != null" >
        last_update_time = #{record.lastUpdateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.callCnt != null" >
        call_cnt = #{record.callCnt,jdbcType=INTEGER},
      </if>
      <if test="record.stsCd != null" >
        sts_cd = #{record.stsCd,jdbcType=CHAR},
      </if>
      <if test="record.deleted != null" >
        deleted = #{record.deleted,jdbcType=BIT},
      </if>
      <if test="record.prostate != null" >
        proState = #{record.prostate,jdbcType=VARCHAR},
      </if>
      <if test="record.warranty != null" >
        warranty = #{record.warranty,jdbcType=LONGVARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExampleWithBLOBs" parameterType="map" >
    update pro_product
    set pro_id = #{record.proId,jdbcType=INTEGER},
      man_id = #{record.manId,jdbcType=INTEGER},
      brd_id = #{record.brdId,jdbcType=INTEGER},
      title = #{record.title,jdbcType=VARCHAR},
      sku_cd = #{record.skuCd,jdbcType=VARCHAR},
      upc = #{record.upc,jdbcType=VARCHAR},
      ean = #{record.ean,jdbcType=VARCHAR},
      retail_price = #{record.retailPrice,jdbcType=DECIMAL},
      mininum_retail_price = #{record.mininumRetailPrice,jdbcType=DECIMAL},
      warranty_day = #{record.warrantyDay,jdbcType=VARCHAR},
      time_unit = #{record.timeUnit,jdbcType=VARCHAR},
      model = #{record.model,jdbcType=VARCHAR},
      created_by = #{record.createdBy,jdbcType=VARCHAR},
      create_time = #{record.createTime,jdbcType=TIMESTAMP},
      last_update_by = #{record.lastUpdateBy,jdbcType=VARCHAR},
      last_update_time = #{record.lastUpdateTime,jdbcType=TIMESTAMP},
      call_cnt = #{record.callCnt,jdbcType=INTEGER},
      sts_cd = #{record.stsCd,jdbcType=CHAR},
      deleted = #{record.deleted,jdbcType=BIT},
      proState = #{record.prostate,jdbcType=VARCHAR},
      warranty = #{record.warranty,jdbcType=LONGVARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update pro_product
    set pro_id = #{record.proId,jdbcType=INTEGER},
      man_id = #{record.manId,jdbcType=INTEGER},
      brd_id = #{record.brdId,jdbcType=INTEGER},
      title = #{record.title,jdbcType=VARCHAR},
      sku_cd = #{record.skuCd,jdbcType=VARCHAR},
      upc = #{record.upc,jdbcType=VARCHAR},
      ean = #{record.ean,jdbcType=VARCHAR},
      retail_price = #{record.retailPrice,jdbcType=DECIMAL},
      mininum_retail_price = #{record.mininumRetailPrice,jdbcType=DECIMAL},
      warranty_day = #{record.warrantyDay,jdbcType=VARCHAR},
      time_unit = #{record.timeUnit,jdbcType=VARCHAR},
      model = #{record.model,jdbcType=VARCHAR},
      created_by = #{record.createdBy,jdbcType=VARCHAR},
      create_time = #{record.createTime,jdbcType=TIMESTAMP},
      last_update_by = #{record.lastUpdateBy,jdbcType=VARCHAR},
      last_update_time = #{record.lastUpdateTime,jdbcType=TIMESTAMP},
      call_cnt = #{record.callCnt,jdbcType=INTEGER},
      sts_cd = #{record.stsCd,jdbcType=CHAR},
      deleted = #{record.deleted,jdbcType=BIT},
      proState = #{record.prostate,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="neu.train.project.mvo.domain.mvoProduct" >
    update pro_product
    <set >
      <if test="manId != null" >
        man_id = #{manId,jdbcType=INTEGER},
      </if>
      <if test="brdId != null" >
        brd_id = #{brdId,jdbcType=INTEGER},
      </if>
      <if test="title != null" >
        title = #{title,jdbcType=VARCHAR},
      </if>
      <if test="skuCd != null" >
        sku_cd = #{skuCd,jdbcType=VARCHAR},
      </if>
      <if test="upc != null" >
        upc = #{upc,jdbcType=VARCHAR},
      </if>
      <if test="ean != null" >
        ean = #{ean,jdbcType=VARCHAR},
      </if>
      <if test="retailPrice != null" >
        retail_price = #{retailPrice,jdbcType=DECIMAL},
      </if>
      <if test="mininumRetailPrice != null" >
        mininum_retail_price = #{mininumRetailPrice,jdbcType=DECIMAL},
      </if>
      <if test="warrantyDay != null" >
        warranty_day = #{warrantyDay,jdbcType=VARCHAR},
      </if>
      <if test="timeUnit != null" >
        time_unit = #{timeUnit,jdbcType=VARCHAR},
      </if>
      <if test="model != null" >
        model = #{model,jdbcType=VARCHAR},
      </if>
      <if test="createdBy != null" >
        created_by = #{createdBy,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="lastUpdateBy != null" >
        last_update_by = #{lastUpdateBy,jdbcType=VARCHAR},
      </if>
      <if test="lastUpdateTime != null" >
        last_update_time = #{lastUpdateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="callCnt != null" >
        call_cnt = #{callCnt,jdbcType=INTEGER},
      </if>
      <if test="stsCd != null" >
        sts_cd = #{stsCd,jdbcType=CHAR},
      </if>
      <if test="deleted != null" >
        deleted = #{deleted,jdbcType=BIT},
      </if>
      <if test="prostate != null" >
        proState = #{prostate,jdbcType=VARCHAR},
      </if>
      <if test="warranty != null" >
        warranty = #{warranty,jdbcType=LONGVARCHAR},
      </if>
    </set>
    where pro_id = #{proId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKeyWithBLOBs" parameterType="neu.train.project.mvo.domain.mvoProduct" >
    update pro_product
    set man_id = #{manId,jdbcType=INTEGER},
      brd_id = #{brdId,jdbcType=INTEGER},
      title = #{title,jdbcType=VARCHAR},
      sku_cd = #{skuCd,jdbcType=VARCHAR},
      upc = #{upc,jdbcType=VARCHAR},
      ean = #{ean,jdbcType=VARCHAR},
      retail_price = #{retailPrice,jdbcType=DECIMAL},
      mininum_retail_price = #{mininumRetailPrice,jdbcType=DECIMAL},
      warranty_day = #{warrantyDay,jdbcType=VARCHAR},
      time_unit = #{timeUnit,jdbcType=VARCHAR},
      model = #{model,jdbcType=VARCHAR},
      created_by = #{createdBy,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      last_update_by = #{lastUpdateBy,jdbcType=VARCHAR},
      last_update_time = #{lastUpdateTime,jdbcType=TIMESTAMP},
      call_cnt = #{callCnt,jdbcType=INTEGER},
      sts_cd = #{stsCd,jdbcType=CHAR},
      deleted = #{deleted,jdbcType=BIT},
      proState = #{prostate,jdbcType=VARCHAR},
      warranty = #{warranty,jdbcType=LONGVARCHAR}
    where pro_id = #{proId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="neu.train.project.mvo.domain.mvoProduct" >
    update pro_product
    set man_id = #{manId,jdbcType=INTEGER},
      brd_id = #{brdId,jdbcType=INTEGER},
      title = #{title,jdbcType=VARCHAR},
      sku_cd = #{skuCd,jdbcType=VARCHAR},
      upc = #{upc,jdbcType=VARCHAR},
      ean = #{ean,jdbcType=VARCHAR},
      retail_price = #{retailPrice,jdbcType=DECIMAL},
      mininum_retail_price = #{mininumRetailPrice,jdbcType=DECIMAL},
      warranty_day = #{warrantyDay,jdbcType=VARCHAR},
      time_unit = #{timeUnit,jdbcType=VARCHAR},
      model = #{model,jdbcType=VARCHAR},
      created_by = #{createdBy,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      last_update_by = #{lastUpdateBy,jdbcType=VARCHAR},
      last_update_time = #{lastUpdateTime,jdbcType=TIMESTAMP},
      call_cnt = #{callCnt,jdbcType=INTEGER},
      sts_cd = #{stsCd,jdbcType=CHAR},
      deleted = #{deleted,jdbcType=BIT},
      proState = #{prostate,jdbcType=VARCHAR}
    where pro_id = #{proId,jdbcType=INTEGER}
  </update>
</mapper>